.feature-artical {
    border-radius: 5px;
    background: #fa3269; 
    color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 3px 7px hsla(0, 0%, 0%, 0.23);
    figure {
    }
    .title {
      font-size: 19px;
    }
    p {

    }
}