<!-- <app-header></app-header> 
<main>
    <router-outlet></router-outlet>
</main> -->

<div class="col-md-5">
    <br>
    <input type="text" class="form-control" [(ngModel)]="Id" >
    <br>
    <input type="text" class="form-control" [(ngModel)]="Title">
    <br>
    <input type="text" class="form-control" [(ngModel)]="Status">
    <br>
    <button type="button" class="btn btn-info" (click)="post(Id,Title,Status)">post</button>
    <button type="button" class="btn btn-info" (click)="put(Id,Title,Status)">update</button>
    <button type="button" class="btn btn-info" (click)="delete(Id,Title,Status)">delete</button>
</div>